# **Python Scripting**

## **Day-1**

## **Python Inputs and Outputs**

In [1]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
total = num1 + num2
print (num1, type(num1))
print (num2, type(num2))
print (total, type(total))
print ("End of the program...")

Please enter the first number: 100
Please enter the second number: 200
100 <class 'str'>
200 <class 'str'>
100200 <class 'str'>
End of the program...

In [6]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
total = num1 + num2
print (num1, type(num1))
print (num2, type(num2))
print (total, type(total))
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'int'>
200 <class 'int'>
300 <class 'int'>
End of the program...

In [22]:
print ("So the sum of", num1, "and", num2, "is", total)
print ("So the sum of " + str(num1) + " and " + str(num2) + " is " + str(total))
print ("So the sum of {} and {} is {}".format(num1, num2, total))  # {} denotes variable placeholder
print ("So the sum of {0} and {1} is {2}".format(num1, num2, total))
print ("So the sum of {2} and {1} is {0}".format(total, num2, num1))
print ("So the sum of {fn} and {sn} is {tot}".format(fn=num1, sn=num2, tot=total))  # labelled placeholder
print ("So the sum of %d and %d is %d"%(num1, num2, total))
print ("So the sum of %f and %8.3f is %10.2f"%(num1, num2, total))
print (f"So the sum of {num1} and {num2} is {total}")

So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100 and 200 is 300
So the sum of 100.000000 and  200.000 is     300.00
So the sum of 100 and 200 is 300

## **Dynamic Variable Types**

In [25]:
var1 = 100; print (var1, type(var1), id(var1))
var1 = 100.5; print (var1, type(var1), id(var1))
var1 = "Punch"; print (var1, type(var1), id(var1))
var1 = "P"; print (var1, type(var1), id(var1))
var1 = 'Punch'; print (var1, type(var1), id(var1))
var1 = 'P'; print (var1, type(var1), id(var1))
var1 = True; print (var1, type(var1), id(var1))
var1 = False; print (var1, type(var1), id(var1))

100 <class 'int'> 2486598176080
100.5 <class 'float'> 2486683069168
Punch <class 'str'> 2486712365744
P <class 'str'> 2486605845424
Punch <class 'str'> 2486712365744
P <class 'str'> 2486605845424
True <class 'bool'> 140735214930128
False <class 'bool'> 140735214930160

## **Python Operators**

In [ ]:
# Arithmetic Operators: + - * / // ** %
# Conditional Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: = 
# Special Assignment Operators: += -= *= /= //= **= %=

# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)

In [26]:
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 ** 4)
print (100 % 40)

140
60
4000
2.5
2
100000000
20

In [27]:
print (100 > 50, 100 >= 50, 100 < 50, 100 <= 50, 100 == 50, 100 != 50)

True True False False False True

In [30]:
age = 45
print (age, age >= 25 and age <= 60)
print (age, age < 25 or age > 60)
print (not True, not False)

45 True
45 False
False True

In [32]:
var1 = 100
print (var1)
var1 += 10  # var1 = var1 + 10
print (var1)
var1 *= 100
print (var1)

100
110
11000

In [33]:
# ternary operator
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, result)

num1 = 173
result = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, result)

100 Even
173 Odd

## **ASCII Codes and Characters**

In [34]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

65 97 90 122
A a Z z

## **Conditional Statements**

In [45]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("The third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  33
Please enter the second integer:  11
Please enter the third integer:  22

The first number is the maximum number...
So the maximum number is 33
End of the program...

In [36]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  300
Please enter the second integer:  400
Please enter the third integer:  100

The second number is the maximum number...
So the maximum number is 400
End of the program...

## **Dealing with 'print' statement**

In [46]:
help (print)   # ... ellipsis

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [48]:
print("Hello","Everyone")

Hello Everyone

## **Day-2**

## **Python Loops**

In [50]:
count = 0
for i in range(10):
    print (i, "Hello")
    count += 1
print ("No of iterations =", count)

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
No of iterations = 10

In [52]:
count = 0
for i in range(0, 10, 1):
    print (i, "Hello")
    count += 1
print ("No of iterations =", count)

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
No of iterations = 10

In [51]:
count = 0
for i in range(1, 8):
    print (i, "Hello")
    count += 1
print ("No of iterations =", count)

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
No of iterations = 7

In [53]:
count = 0
for i in range(1, 10, 2):
    print (i, "Hello")
    count += 1
print ("No of iterations =", count)

1 Hello
3 Hello
5 Hello
7 Hello
9 Hello
No of iterations = 5

In [54]:
count = 0
for i in range(10, -10, -2):
    print (i, "Hello")
    count += 1
print ("No of iterations =", count)

10 Hello
8 Hello
6 Hello
4 Hello
2 Hello
0 Hello
-2 Hello
-4 Hello
-6 Hello
-8 Hello
No of iterations = 10

In [57]:
count = 0
for i in range(10):
    print (i, "Hello")
    count += 1
else:
    print ("ELSE block is executing...")
print ("No of iterations =", count)

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
ELSE block is executing...
No of iterations = 10

In [58]:
count = 0
for i in range(10):
    print (i, "Hello")
    if (i == 7): 
        print ("Breaking out from the for loop...")
        break
    count += 1
else:
    print ("ELSE block is executing...")
print ("No of iterations =", count)

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
Breaking out from the for loop...
No of iterations = 7

In [61]:
num = int(input("Please enter an integer: "))
for i in range(2, num):
    if (num % i == 0): 
        print (f"{num} is not a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter an integer:  101

101 is a PRIME Number...
End of the program...

In [67]:
num = int(input("Please enter an integer: "))
i = 2
while (i < num):
    if (num % i == 0): 
        print (f"{num} is not a PRIME Number...")
        break
    i += 1
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter an integer:  101

101 is a PRIME Number...
End of the program...

In [65]:
num = int(input("Please enter an integer: "))
for i in range(2, num):
    if (num % i != 0):
        pass    # statement place holder
    else:
        print (f"{num} is not a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter an integer:  101

101 is a PRIME Number...
End of the program...

In [69]:
num = int(input("Please enter an integer: "))
i = 2
while (i < num):
    if (num % i != 0):
        pass    # statement place holder
    else:
        print (f"{num} is not a PRIME Number...")
        break
    i += 1
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter an integer:  101

101 is a PRIME Number...
End of the program...

In [63]:
for i in range(10):
    if (i == 5 or i == 7): 
        print ("Continue statement is executing...")
        continue
    print (i, "Hello")
else:
    print ("ELSE block is executing...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
Continue statement is executing...
6 Hello
Continue statement is executing...
8 Hello
9 Hello
ELSE block is executing...
End of the program...

In [1]:
i = 0
while (i < 10):
    if (i == 5 or i == 7): 
        print ("Continue statement is executing...")
        i += 1
        continue
    print (i, "Hello")
    i += 1
else:
    print ("ELSE block is executing...")
print ("End of the program...")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
Continue statement is executing...
6 Hello
Continue statement is executing...
8 Hello
9 Hello
ELSE block is executing...
End of the program...

In [4]:
print ("Hello" * 3)
print ("Hello " * 5)
print ("Welcome " * 8)

HelloHelloHello
Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome

In [ ]:
n = 6 (User given integer)

               i    .    *
            -----------------
.....*         1    5    1
....***        2    4    3  . => (n - i)
...*****       3    3    5
..*******      4    2    7  * => (2 * i - 1)
.*********     5    1    9
***********    6    0   11
            -----------------
              Tracing Table

In [9]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
n = 6 (User given integer)

               i    .    *
            -----------------
***********    1    0   11
.*********     2    1    9  . => (i - 1)
..*******      3    2    7
...*****       4    3    5  * => (2 * (n - i) + 1)
....***        5    4    3
.....*         6    5    1
            -----------------
              Tracing Table

In [11]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  6

***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [18]:
# nested loops
print ("Visit Doctor")
for day in range(1, 6):
    print ("Good morning...")
    for medi in range(1, 4):
        print (f"Day No. {day} and Medicine No. {medi}...")
    print ("Good night...")
    print ("----------------------------")
print ("Thanks to Doctor...")

Visit Doctor
Good morning...
Day No. 1 and Medicine No. 1...
Day No. 1 and Medicine No. 2...
Day No. 1 and Medicine No. 3...
Good night...
----------------------------
Good morning...
Day No. 2 and Medicine No. 1...
Day No. 2 and Medicine No. 2...
Day No. 2 and Medicine No. 3...
Good night...
----------------------------
Good morning...
Day No. 3 and Medicine No. 1...
Day No. 3 and Medicine No. 2...
Day No. 3 and Medicine No. 3...
Good night...
----------------------------
Good morning...
Day No. 4 and Medicine No. 1...
Day No. 4 and Medicine No. 2...
Day No. 4 and Medicine No. 3...
Good night...
----------------------------
Good morning...
Day No. 5 and Medicine No. 1...
Day No. 5 and Medicine No. 2...
Day No. 5 and Medicine No. 3...
Good night...
----------------------------
Thanks to Doctor...

In [ ]:
HOME WORK:
Rewrite the above code in nested while blocks

 ## **Python Inbuilt Collections**

In [13]:
# different inbuilt collections
list1 = [100, 2.45, True, "Food", 201]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'} # mutable
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201} # mutable
print (set1, len(set1), type(set1), id(set1))
fset1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201]) # immutable, read only
print (fset1, len(fset1), type(fset1), id(fset1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 2609064090688
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 2609063949424
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 2609063863616
{True, 2.45, 'Delhi', 100, 201, 'Food'} 6 <class 'set'> 2609062456768
frozenset({True, 2.45, 100, 'Food', 201, 'Delhi'}) 6 <class 'frozenset'> 2609062457216

In [4]:
# dealing with empty collections
var1 = []; print (var1, len(var1), type(var1))
var1 = (); print (var1, len(var1), type(var1))
var1 = {}; print (var1, len(var1), type(var1))
var1 = set(); print (var1, len(var1), type(var1))
var1 = frozenset(); print (var1, len(var1), type(var1))

[] 0 <class 'list'>
() 0 <class 'tuple'>
{} 0 <class 'dict'>
set() 0 <class 'set'>
frozenset() 0 <class 'frozenset'>

## **Day-3**

## **User Defined Function (UDF)**

In [7]:
def funct1():
    print ("Welcome " * 4)
    
funct1()
funct1()
funct1()
print (type(funct1), id(funct1))

Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
<class 'function'> 2415259293808

In [8]:
def funct2(msg, times):   # msg and times are called as positional parameters
    print (msg * times)
    
funct2 ("Hello ", 10)     # "Hello " and 10 are called as positional arguments
funct2 ("Welcome ", 8)
funct2 ("Hi !!! ", 7)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

In [9]:
def funct3(msg, times):
    return msg * times

print (funct3("Hello ", 10))     # "Hello " and 10 are called as positional arguments
print (funct3("Welcome ", 8))
result = funct3("Hi !!! ", 7)
print (result)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

In [18]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):    # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par2 = 200, par3 = 300)
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 111, par2 = 200 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...

In [20]:
def funct5(num1, num2 = None):
    if (num2 == None):
    # if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 400))
print (funct5(100))

500
200

In [22]:
# function returning multiple arguments
def funct6(num1, num2): 
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct6(100, 40)
print (result, len(result), type(result), id(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 2415288411984
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [23]:
# function with variable number of arguments
def funct7(*arg):    # *arg1 means forcefully defining arg as a tuple
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2415259643904
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 2415287858848
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 2415302488400

In [24]:
# function with variable number of arguments
def funct8(**kwarg):# **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification = "ME")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 2415253446144
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'ME'} 5 <class 'dict'> 2415293093056

In [25]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby='drawing')
funct9("Amitava", "Developer", 65000)
funct9(location = "Pune", qualification = "Masters", hobby = 'drawing')

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2415291251328
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2415293345664
('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2415293346304
{} 0 <class 'dict'> 2415291122432
() 0 <class 'tuple'> 2415179874416
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2415292845184

In [29]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = 1
    for i in range(1, num + 1):
        print (f"Executing for i = {i}...")
        fact *= i
    return fact

n = 5
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")
n = 0
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
So factorial of 5 is 120...
So factorial of 0 is 1...

In [30]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_r(num):
    if (num == 0 or num == 1): return 1  # base case: for certain input values outputs are pre-known
    return num * factorial_r(num - 1)    # reursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

## **Lambda Function**

> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [31]:
# lambda function
my_square = lambda num: num * num

print (my_square(5), my_square, type(my_square), id(my_square))
result = my_square(6)
print (result)

25 <function <lambda> at 0x000002325B6BE0E0> <class 'function'> 2415305416928
36

In [32]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(500, 400), my_addition, type(my_addition), id(my_addition))
result = my_addition(300, 500)
print (result)

900 <function <lambda> at 0x000002325B6BE170> <class 'function'> 2415305417072
800

In [33]:
def funct10(num):
    myproduct = lambda n: n * num
    return myproduct

var10 = funct10(10)
var20 = funct10(20)
print (var10(3))
print (var20(4))
print (funct10(30)(5))

30
80
150

## **Importing Modules**

In [34]:
# importing required modules
import math

In [35]:
print (math.factorial(5), math.factorial(6))

120 720

In [36]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0), math.cosh(0), math.asin(0))
print (math.sqrt(100), 100 ** 0.5, math.sqrt(1000), 1000 ** 0.5)
print (math.pi, math.e, math.tau)
print (math.gcd(100, 5), math.gcd(100, 45), math.gcd(1000, 720),(1000*720)/math.gcd(1000,720))
print (math.log(100), math.log(100, math.e), math.log(1024, 2), math.log2(1024),
       math.log(1000, 10), math.log10(1000))
print (math.factorial(5), math.factorial(6))
print (math.pow(100, 2), 100 ** 2, 100.0 ** 2)
print (math.floor(10.1), math.floor(10.9), math.ceil(10.1), math.ceil(10.9))

0.0 1.0 0.0 0.0 1.0 0.0
10.0 10.0 31.622776601683793 31.622776601683793
3.141592653589793 2.718281828459045 6.283185307179586
5 5 40 18000.0
4.605170185988092 4.605170185988092 10.0 10.0 2.9999999999999996 3.0
120 720
10000.0 10000 10000.0
10 10 11 11

In [ ]:
help(math)

## **Day-4**

## **String Processing**

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [1]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval

university 10 <class 'str'> 2606616363696
v v i i r r
niversi niversi niversi niversi ytisrevinu

In [3]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 2606616955520
CALCUTTA UNIVERSITY
calcutta university
Calcutta University
Calcutta university
CAlcUttA UNivERsITy
          caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [6]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

4 4 11 -1

In [8]:
mystr = "charity begins at home"
print (mystr.index("ity"))
print (mystr.index("i", 3))
print (mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

4
4
11

ValueError: substring not found

In [10]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))
print (mystr.strip(" "))
print (mystr.lstrip(" "))
print (len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 2606616961440
calcutta    university 22
calcutta    university      27
    calcutta    university 26
calcutta    university
calcutta    university
27

In [11]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")), mystr.lstrip("@#"), mystr.rstrip("@#"),
       len(mystr.rstrip("@#")))

calcutta#@#@university 22 calcutta#@#@university#@@@# ##@@calcutta#@#@university 26

In [13]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True True
True False True

In [14]:
mystr = "bread"    # Reading character by character from a string
for ch in mystr:
    print (ch)
print ()
for i in range(len(mystr)):
    print (mystr[i])

b
r
e
a
d

b
r
e
a
d

In [16]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)
list_num = [int(x) for x in input("Enter your all numbers: ").split()]
print (list_num)

charity begins at home 22 <class 'str'> 2606637277760
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

Enter your all numbers:  11 33 22 55 44

[11, 33, 22, 55, 44]

In [17]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2606648896448
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [18]:
mystr = "university"
print (mystr.isalpha())
print (mystr.isalnum())
print (mystr.isnumeric())

True
True
False

In [21]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

2 1 0
unxversxty
university
unxversxty

In [22]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'p', 's', 'm', 'i'}
frozenset({'p', 's', 'm', 'i'})

## **List Processing**

## **Tuple Processing**

## **Day-5**

## **Dictionary Processing**

## **Set Processing**

## **Frozen Set Processing**